@require './nav.css'
@require './operations.css'
@require './webhooks.css'
@require './nodes.css'
@require './supervisor.css'
@require './demonstration.css'

.app-content {
    margin: 0 0 1rem 1rem;
    overflow: hidden;
    max-height: 100vh;
}