.nodes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.node {
  max-width: 32em;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.node-label {
  font-size: 20px;
  text-align: center;
}

.node-form {
  display: flex;
  flex-direction: column;
  max-width: 32em;
}

.add-node-button {
  margin-top: 1em;
}
